.logo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--spacing-small);
    font: 900 30px Arial, Helvetica, sans-serif;
}

/* SIDEBAR LINKS */
.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: var(--spacing-medium) 0;
    padding: var(--spacing-medium);

    border-radius: 10px;

    color: var(--color-text-secondary);

    font-size: small;
    font-weight: 600;
}

.nav-link:hover {
    background-color: var(--color-input);
}

.nav-link:active {
    background-color: var(--color-primary);
}

.quote {
    color: var(--color-text-secondary);
}

/* TOPBAR CONFIG */
.topbar-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* NOTIFICATION BUTTON */
.notifications-button {
    width: 50px;
    height: 50px;

    flex-shrink: 0;

    background-color: transparent;
    border: none;
    border-radius: 40%;

    cursor: pointer;
}

.notifications-button:hover {
    background-color: var(--color-input);
}

.notifications-icon {
    width: 20px;
    height: 20px;
}

/* USER OPTIONS */
.user-options {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    max-height: 50px;

    align-items: center;

    background-color: transparent;
    color: var(--color-text-secondary);

    border: none;
    border-radius: 20px;

    cursor: pointer;
}

.user-options:hover {
    background-color: var(--color-input);
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

/* === DROPDOWN BUTTON === */
.dropdown {
    width: 25px;
    height: 25px;
}

/* === CALENDAR OPTIONS === */
.month-selection {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 15px;

    border: none;
    border-radius: 20px;

    cursor: pointer;
    user-select: none;
}

.month-selection:hover {
    background-color: var(--color-input);
}

.month-selection input {
    background: transparent;
    color: var(--color-text-secondary);
    text-transform: capitalize; 

    border: none;
    outline: none;

    cursor: pointer;
}

.month-selection input[type="month"]::-webkit-calendar-picker-indicator {
    display: none;
}

.calendar-icon {
    width: 25px;
    height: 25px;
}

/* === CATEGORY CARDS === */
.category-card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    padding: 20px;

    border: 1px solid var(--color-border);
    border-radius: 15px;

    background-color: var(--color-surface);
}

.category-summary p {
    margin-bottom: 15px;
}

.category-balance {
    font-size: x-large;
    font-weight: 600;

    color: var(--color-text-primary);
}

.category-description {
    font-size: small;
}

.category-icon {
    width: 50px;
    height: 50px;

    padding: 10px;

    border-radius: 15px;
}

/* CUSTOM CATEGORY ICON COLORS */
.total-balance {
    background-color: var(--color-primary);
}

.total-income {
    background-color: var(--category-total-income);
}

.total-expenses {
    background-color: var(--color-danger);
}

.emergency-fund {
    background-color: var(--category-emergency-fund);
}

/* DASHBOARD GRID */
.card {

    padding: 20px;

    border: 1px solid var(--color-border);
    border-radius: 15px;

    background-color: var(--color-surface);
}

.card-title {
    font-weight: 600;

    color: var(--color-text-primary);
}

.card-header {
    padding-bottom: 20px;
}

.transactions-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    align-content: space-between;
}

.see-more-button {
    font-size: small;
    cursor: pointer;
}

/* TRANSACTION CARD ITEM*/
.transaction-card {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;

    padding: 15px;

    border-top: 1px solid var(--color-border);
}

.transaction-icon {
    width: 30px;
    height: 30px;

    padding: 5px;

    border-radius: 50%;

    background-color: var(--color-text-secondary);
}

.transaction-column p {
    font-size: small;
}

.transaction-name {
    font-weight: 600;
    color: var(--color-text-primary);
}

.transaction-payment-method span {
    font-size: small;
    
    padding: 5px 15px;

    border-radius: 15px;
    
    background-color: var(--color-text-secondary);
}

/* DASHBOARD CATEGORY CARD ITEM */
.dashboard-category-card {
    display: grid;
    grid-template-columns: 20px 1fr 40%;
    gap: 35px;

    align-items: start;

    padding: 20px;

    background-color: var(--color-surface);
}

.dashboard-category-icon {
    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: var(--color-primary);
}

.moradia {
    background-color: rgb(41, 79, 203);
}

.transporte {
    background-color: rgb(255, 208, 0);
}

.lazer {
    background-color: rgb(204, 32, 204);
}

.saude {
    background-color: rgb(255, 105, 105);
}

.educacao {
    background-color: aquamarine;
}

.outros {
    background-color: gray;
}

.dashboard-category-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-category-info p {

    color: var(--color-text-primary);

    font-size: small;
    font-weight: 600;
}

.dashboard-category-available {
    font-size: small;

    padding: 10px 0;

    border-bottom: 1px solid var(--color-border);
}

.dashboard-category-percentage {
    font-size: small;
}

.dashboard-progress-bar {
    background-color: var(--color-border);
    border-radius: 15px;
}

.dashboard-progress {
    background-color: var(--color-primary);
    width: 35%;
    height: 10px;
    border-radius: 10px;

    margin: 10px 0;
}