.topbar {
    height: 55px;

    border-bottom: 1px solid var(--color-border);
}

.interface {
    padding: var(--spacing-large) var(--spacing-xl);
}

/* page header */
.page--header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-large);

    justify-content: space-between;
}

