:root {

    /*
    COLORS
    */
    --color-background: #03121b;
    --color-surface: #04161d;
    --color-input: #051b27;

    --color-text-primary: #f5f5f6;
    --color-text-secondary: #8fb4cd;

    --color-primary: #00e598;

    --color-border: #1b3545;

    --color-danger: #c40a47;

    /*
    BORDER
    */
    --radius-small: 6px;
    --radius-medium: 10px;
    --radius-large: 16px;

    /*
    SPACING
    */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xl: 48px;

    /* 
    CATEGORY COLORS
    */
    --category-total-income: #2d4898;
    --category-emergency-fund: #54008b;

}