/* CATEGORIES OVERVIEW */
.category-card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    padding: 20px;

    border: 1px solid var(--color-border);
    border-radius: 15px;

    background-color: var(--color-surface);
}

.category-summary p {
    margin-bottom: 15px;
}

.category-balance {
    font-size: x-large;
    font-weight: 600;

    color: var(--color-text-primary);
}

.category-description {
    font-size: small;
}

.category-icon {
    width: 50px;
    height: 50px;

    padding: 10px;

    border-radius: 15px;
}

/* CORES DOS ÍCONES DO OVERVIEW DAS CATEGORIAS */
.total-balance {
    background-color: var(--color-primary);
}

.total-income {
    background-color: var(--category-total-income);
}

.total-expenses {
    background-color: var(--color-danger);
}

.emergency-fund {
    background-color: var(--category-emergency-fund);
}